
  /* .details, td, th{
    align-items: center;
    justify-content: center;
    border: 1px solid black
  } */

.App{
  width: 100vw;
  height: 100vh;
  margin: 0%;
}

.body{
  margin: 0%;
}

h1{
  text-align: left;
}
.table{
  align-items: center;
  justify-content: center;
  align-content: center;
}

form{
  text-align:left;
}

.paginate-data{
  border: 1px solid black;
}

.details-body{
  border: 1px solid black;
  text-align: center;
}
 .details-head{
  border: 1px solid black;
  text-align: center;
}

.notif-close-btn{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.sidebar{
  /* display: flex; */
  justify-content: flex-end;
  min-height: 10vh;
  align-items: center;
} 

.margin-top{
  margin-top:15px;
  margin-left: 370px;
}

.btn-info-custom{
  padding: 10px !important;
}
tbody + thead{
  display: none;
}

.back-btn{
  padding: 10;
}